*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 800px;
    height: 800px;
}

#app{
    width: fit-content;
    position: absolute;
    top: 20px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}